#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

CACHESIZE={{ (ansible_memtotal_mb * 0.8) | int }}
MAX_CONN={{ memcached_max_conn }}
NUM_THREADS={{ memcached_threads }}
REQS_PER_EVENT={{ memcached_reqs_per_event }}
OPTIONS="-I {{ memcached_maxslab }} -b {{ memcached_backlog }} -r -o modern {{ via }}"
