#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

{% set direct_mdport = [heartbeat.outputs.direct.port.elasticsearch, heartbeat.outputs.direct.port.influxdb] %}
{% set proxy_mdport = [proxy_heartbeat_cdn.port.elasticsearch, proxy_heartbeat_cdn.port.influxdb] %}

echo 1 > /proc/sys/net/ipv4/ip_forward
# conntrack is required if NAT is used, that's the proxy hearbeat case
$IPT -t raw -I PREROUTING -p {{ proxy_heartbeat_cdn.proto }} -m multiport --dport {{ proxy_mdport | join(',') }} $TRACK

$IPT -t nat -A PREROUTING -p {{ proxy_heartbeat_cdn.proto }} -m multiport --dport {{ proxy_mdport | join(',') }} -j DNAT --to {{ heartbeat.outputs.direct.host }} -m comment --comment "heartbeat_proxy"
$IPT -t nat -A POSTROUTING -p {{ heartbeat.outputs.direct.proto }} -d {{ heartbeat.outputs.direct.host }} -m multiport --dport {{ direct_mdport | join(',') }} -j SNAT --to-source {{ proxy_heartbeat_cdn.host | resolve }} -m comment --comment "heartbeat_proxy"
{% for rec in cdn_dns | unique %}
$IPT -A FORWARD -p {{ proxy_heartbeat_cdn.proto }} -s {{ rec.ip }} -m multiport --dport {{ proxy_mdport | join(',') }} -j ACCEPT -m comment --comment "heartbeat_proxy"
{% endfor %}
$IPT -t mangle -A FORWARD -p {{ proxy_heartbeat_cdn.proto }} -m multiport --dport {{ proxy_mdport | join(',') }} -j TOS --set-tos Maximize-Reliability -m comment --comment "heartbeat_proxy"
