#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

{% for bd in blacklisted_drivers %}
blacklist {{ bd }}
{% endfor %}

# no usb storage devices
install uas /bin/true
install usb-storage /bin/true

# no firewire
install firewire_core /bin/true
install firewire_ohci /bin/true
