#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

[Unit]
Description=Iptables Rules
After=syslog.target network.target remote-fs.target nss-lookup.target
ConditionFileIsExecutable=/sbin/iptables
ConditionFileIsExecutable=/sbin/ip6tables
ConditionFileNotEmpty=/etc/systemd/system/firewall.sh

[Service]
Type=oneshot
CPUAffinity=0
IOSchedulingClass=3
IOSchedulingPriority=7
ExecStart=/bin/sh /etc/systemd/system/firewall start
ExecStop=/bin/sh /etc/systemd/system/firewall stop
StandardOutput=null
StandardError=null
RemainAfterExit=yes
#Restart=always
#RestartSec=5

[Install]
WantedBy=multi-user.target
