#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#!/bin/bash
#{{ ansible_managed }}

host={{ inventory_hostname_short }}

/bin/nc -v -w 10 -z 127.0.0.1 80
status=`echo $?`
case $status in
 "0")
  status='alive';;
 "1")
  status='dead';;
esac

{{ base_root }}/bin/logger -P {{ heartbeat.outputs.direct.port }} -n {{ heartbeat.outputs.direct.host | resolve }} --rfc3164 '{'\"host\":\"$host\",\"http\":\"$status\",\"channel\":\"direct\"'}'

{% for h in heartbeat.outputs.proxy %}
{{ base_root }}/bin/logger -P {{ h.port }} -n {{ h.host | resolve }} --rfc3164 '{'\"host\":\"$host\",\"http\":\"$status\",\"channel\":\"proxy\"'}'
{% endfor %}
