#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

{% for cdn in cdn_dns %}
{% if (cdn != "cdn-hk-eqx01-01") or (cdn != "cdn-hk-eqx01-02") %}
"{{ cdn.ip }}": {{ cdn.name }}
{% endif %}
{% endfor %}
"27.111.185.128": cdn-hk-eqx01-01
"27.111.185.129": cdn-hk-eqx01-02
