#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

{% for cdn in cdn_dns %}
{% if (cdn != "cdn-hk-eqx01-01") and (cdn != "cdn-hk-eqx01-02") %}
"{{ cdn.ip }}": {{ cdn.name }}
{% endif %}
{% endfor %}
"192.168.103.105": cdn-hk-eqx01-01
"192.168.103.106": cdn-hk-eqx01-02
"192.168.103.201": cdn-hk-eqx01-vip
