#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#{{ ansible_managed }}

CACHESIZE={{ (ansible_memtotal_mb * 0.8) | int }}
MAXCONN={{ memcached_maxconn }}
OPTIONS="-t 4 -I {{ memcached_maxslab }} -C -b {{ memcached_backlog }} -r -o modern {{ via }}"
