#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#{{ ansible_managed }}

IFACE={{ softflowd_cap_iface }}
NETFLOW_VER={{ softflowd_netflow_ver }}
SAMPLING_RATE={{ softflowd_sampling_rate }}
{% if send_log %}
DEST={{ softflowd_dest_ip }}:{{ softflowd_dest_port }}
{% endif %}
FLOW_TRACK_LVL={{ softflowd_flowlevel }}
MAXFLOW={{ softflowd_maxflow }}
OPTIONS=
