#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

output {
  # stdout {
  #   codec => json
  # }
  {% for output in packetbeat.outputs | default([], True) %}
  {% if output.elasticsearch is defined %}
  elasticsearch {
    id => "es_{{ output.elasticsearch.id }}_{{ packetbeat.templatename }}"
    # IMPORTANT: exclude dedicated master nodes to prevent LS from sending bulk requests
    hosts => [{{ output.elasticsearch.host | map('wrap') | join (",") }}]
    index => ["{{ packetbeat.templatename }}-%{+YYYY.MM.dd}"]
    codec => "json"
    action => "index"
    doc_as_upsert => false
    # must less than batch_size (default 500)
#      flush_size => 500
#      idle_flush_time => 10
    pool_max => 2000
    pool_max_per_route => 150
    resurrect_delay => 5
    timeout => 60
    retry_initial_interval => 2
    retry_max_interval => 60
    retry_on_conflict => 1
    template_name => "{{ packetbeat.templatename }}"
    template => "{{ logstash.nodes_root }}/{{ logstash_nodename }}/{{ packetbeat.templatename }}.json"
    template_overwrite => true
    manage_template => true
  }
  {% endif %}
  {% endfor %}
}
