#jinja2: lstrip_blocks: "True", trim_blocks: "True"
#{{ ansible_managed }}

input {
  {% for input in netflow_cdn.inputs.udp | default([]) %}
  udp {
    host => "{{ input.host }}"
    port => {{ input.port }}
    codec => netflow {
      versions => [5]
    }
    workers => 10
    queue_size => 300000
    buffer_size => 65535
    # 25Mb, net.core.rmem_max
    receive_buffer_bytes => 26214400
    type => netflow
  }
  {% endfor %}
  {% for input in netflow_cdn.inputs.tcp | default([]) %}
  tcp {
    host => "{{ input.host }}"
    port => {{ input.port }}
    type => udp_monitor
  }
  {% endfor %}
}
