#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}

[Unit]
Description={{ service_name }}
After=syslog.target network.target remote-fs.target nss-lookup.target nginx.service
ConditionFileIsExecutable=/bin/nc
ConditionFileIsExecutable={{ base_root }}/bin/logger

[Service]
Type=oneshot
CPUAffinity=0
IOSchedulingClass=3
IOSchedulingPriority=7
ExecStart=/bin/sh -c " \
host=$$(hostname); \
status=$$(/bin/nc -w 10 -z 127.0.0.1 {{ heartbeat_monitor_port }} && echo 'alive' || echo 'dead'); \
{{ base_root }}/bin/logger -P {{ heartbeat_log_port }} -n {{ heartbeat_log_ip }} --rfc3164 '{\"host\":\"'$${host}'\", \"http\":\"'$${status}'\", \"channel\":\"direct\"}'; \
{% for h in heartbeat_log_proxy | default([]) %}
{{ base_root }}/bin/logger -P {{ h.port }} -n {{ h.host | resolve }} --rfc3164 '{\"host\":\"'$${host}'\", \"http\":\"'$${status}'\", \"channel\":\"proxy\"}'; \
{% endfor %}
"
StandardOutput=null
StandardError=null
TimeoutStartSec=15s
#RemainAfterExit=yes
#Restart=always
#RestartSec=5

# Set up a new file system namespace and mounts private /tmp and /var/tmp directories
# so this service cannot access the global directories and other processes cannot
# access this service's directories.
PrivateTmp=true

{% if systemd_service_mgr_version | int >= 214 %}
# Mounts the /usr, /boot, and /etc directories read-only for processes invoked by this unit.
ProtectSystem=full
{% endif %}

# Ensures that the service process and all its children can never gain new privileges
NoNewPrivileges=true

{% if systemd_service_mgr_version | int >= 209 %}
# Sets up a new /dev namespace for the executed processes and only adds API pseudo devices
# such as /dev/null, /dev/zero or /dev/random (as well as the pseudo TTY subsystem) to it,
# but no physical devices such as /dev/sda.
PrivateDevices=true
{% endif %}

{% if systemd_service_mgr_version | int >= 183 %}
# Required for dropping privileges and running as a different user
CapabilityBoundingSet=CAP_SETGID CAP_SETUID CAP_SYS_RESOURCE
{% endif %}

{% if systemd_service_mgr_version | int >= 231 and is_seccomp_enabled | bool %}
# Attempts to create memory mappings that are writable and executable at the same time,
# or to change existing memory mappings to become executable are prohibited.
MemoryDenyWriteExecute=true
{% endif %}

{% if systemd_service_mgr_version | int >= 232 %}
# Explicit module loading will be denied. This allows to turn off module load and unload
# operations on modular kernels. It is recommended to turn this on for most services that
# do not need special file systems or extra kernel modules to work.
ProtectKernelModules=true

# Kernel variables accessible through /proc/sys, /sys, /proc/sysrq-trigger, /proc/latency_stats,
# /proc/acpi, /proc/timer_stats, /proc/fs and /proc/irq will be made read-only to all processes
# of the unit. Usually, tunable kernel variables should only be written at boot-time, with the
# sysctl.d(5) mechanism. Almost no services need to write to these at runtime; it is hence
# recommended to turn this on for most services.
ProtectKernelTunables=true

# The Linux Control Groups (cgroups(7)) hierarchies accessible through /sys/fs/cgroup will be
# made read-only to all processes of the unit. Except for container managers no services should
# require write access to the control groups hierarchies; it is hence recommended to turn this on
# for most services
ProtectControlGroups=true
{% endif %}

{% if systemd_service_mgr_version | int >= 231 and is_seccomp_enabled | bool %}
# Any attempts to enable realtime scheduling in a process of the unit are refused.
RestrictRealtime=true
{% endif %}

{% if systemd_service_mgr_version | int >= 211 and is_seccomp_enabled | bool %}
# Restricts the set of socket address families accessible to the processes of this unit.
# Protects against vulnerabilities such as CVE-2016-8655
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
{% endif %}

{% if systemd_service_mgr_version | int >= 233 %}
# Takes away the ability to create or manage any kind of namespace
RestrictNamespaces=true
{% endif %}
